[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/uniswap-hooks"]
	path = lib/uniswap-hooks
	url = https://github.com/OpenZeppelin/uniswap-hooks
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "lib/angstrom"]
	path = lib/angstrom
	url = https://github.com/SorellaLabs/angstrom
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "lib/reactive-hooks"]
	path = lib/reactive-hooks
	url = https://github.com/JMSBPP/reactive-hooks.git
	branch = feat/subscription-lib-replace-mod
[submodule "lib/typed-uniswap-v4"]
	path = lib/typed-uniswap-v4
	url = https://github.com/wvs-finance/typed-uniswap-v4.git
[submodule "lib/reactive-lib"]
	path = lib/reactive-lib
	url = https://github.com/Reactive-Network/reactive-lib.git
